<h1 style="font-size:32px; color:Black;">Step 1: Data Cleaning and Preparation</h1>

In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [4]:
df = pd.read_csv("Supply_chain_data_updated.csv")

display(df.head(3))

display(df.info())

display(df.describe(include = 'all'))

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Inspection results,Defect rates,Transportation modes,Routes,Costs,Promotion,Date,ProductID,EconomicIndicators,Weather
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Pending,0.226410,Road,Route B,187.752075,NaN,2016-01-21,HC001,107.15,Cloudy
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Pending,4.854068,Road,Route B,503.065579,NaN,2016-01-22,SK001,110.17,Cloudy
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Pending,4.580593,Air,Route C,141.920282,Discount10,2016-01-23,HC002,106.17,Cloudy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product type             100 non-null    object
 1   SKU                      100 non-null    object
 2   Price                    100 non-null    float64
 3   Availability             100 non-null    int64
 4   Number of products sold  100 non-null    int64
 5   Revenue generated        100 non-null    float64
 6   Customer demographics    100 non-null    object
 7   Stock levels             100 non-null    int64
 8   Lead times               100 non-null    int64
 9   Order quantities         100 non-null    int64
 10  Shipping times           100 non-null    int64
 11  Shipping carriers        100 non-null    object
 12  Shipping costs           100 non-null    float64
 13  Supplier name            100 non-null    object
 14  Location                 100 non-null    object
 15  Lead time                100 non-null    int64
 16  Production volumes       100 non-null    int64
 17  Manufacturing lead time  100 non-null    int64
 18  Manufacturing costs      100 non-null    float64
 19  Inspection results       100 non-null    object
 20  Defect rates             100 non-null    float64
 21  Transportation modes     100 non-null    object
 22  Routes                   100 non-null    object
 23  Costs                    100 non-null    float64
 24  Promotion                70 non-null     object
 25  Date                     100 non-null    object
 26  ProductID                100 non-null    object
 27  EconomicIndicators       100 non-null    float64
 28  Weather                  100 non-null    object
dtypes: float64(7), int64(9), object(13)
memory usage: 22.8+ KB

None

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Inspection results,Defect rates,Transportation modes,Routes,Costs,Promotion,Date,ProductID,EconomicIndicators,Weather
count,100,100,100.000000,100.000000,100.000000,100.000000,100,100.000000,100.000000,100.000000,...,100,100.000000,100,100,100.000000,70,100,100,100.00000,100
unique,3,100,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,...,3,NaN,4,3,NaN,3,100,100,NaN,4
top,skincare,SKU0,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,...,Pending,NaN,Road,Route A,NaN,FlashSale,2016-01-21,HC001,NaN,Cloudy
freq,40,1,NaN,NaN,NaN,NaN,31,NaN,NaN,NaN,...,41,NaN,29,43,NaN,27,1,1,NaN,31
mean,NaN,NaN,49.462461,48.400000,460.990000,5776.048187,NaN,47.770000,15.960000,49.220000,...,NaN,2.277158,NaN,NaN,529.245782,NaN,NaN,NaN,100.82910,NaN
std,NaN,NaN,31.168193,30.743317,303.780074,2732.841744,NaN,31.369372,8.785801,26.784429,...,NaN,1.461366,NaN,NaN,258.301696,NaN,NaN,NaN,11.95896,NaN
min,NaN,NaN,1.699976,1.000000,8.000000,1061.618523,NaN,0.000000,1.000000,1.000000,...,NaN,0.018608,NaN,NaN,103.916248,NaN,NaN,NaN,80.27000,NaN
25%,NaN,NaN,19.597823,22.750000,184.250000,2812.847151,NaN,16.750000,8.000000,26.000000,...,NaN,1.009650,NaN,NaN,318.778455,NaN,NaN,NaN,90.72500,NaN
50%,NaN,NaN,51.239831,43.500000,392.500000,6006.352023,NaN,47.500000,17.000000,52.000000,...,NaN,2.141863,NaN,NaN,520.430444,NaN,NaN,NaN,100.86500,NaN
75%,NaN,NaN,77.198228,75.000000,704.250000,8253.976921,NaN,73.000000,24.000000,71.250000,...,NaN,3.563995,NaN,NaN,763.078231,NaN,NaN,NaN,110.54250,NaN
max,NaN,NaN,99.171329,100.000000,996.000000,9866.465458,NaN,100.000000,30.000000,96.000000,...,NaN,4.939255,NaN,NaN,997.413450,NaN,NaN,NaN,119.77000,NaN

Handle Missing Values: Add a new category

In [5]:
df['Promotion'].fillna('NoPromo', inplace=True)

C:\Users\jianl\AppData\Local\Temp\ipykernel_10364\2922897070.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Promotion'].fillna('NoPromo', inplace=True)

Convert and Extract Date Features

In [6]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month
df['DayOfWeek'] = df['Date'].dt.dayofweek
df['IsWeekend'] = df['DayOfWeek'].isin([5,6]).astype(int)

Encode Categoricals Variable

In [8]:
categorical_cols = [
    'Product type', 'Customer demographics', 'Shipping carriers',
    'Supplier name', 'Location', 'Inspection results',
    'Transportation modes', 'Routes', 'Promotion', 'Weather'
]

df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True, dtype=int)

Drop Unnecessary Columns

In [9]:
df_encoded.drop(columns=['SKU', 'ProductID', 'Date'], inplace=True, errors='ignore')

Scale numerical features

In [10]:
numerical_cols = df_encoded.select_dtypes(include = ['float64', 'int64']).columns
numerical_cols = [col for col in numerical_cols if col != 'Number of products sold']

scaler = StandardScaler()
df_encoded[numerical_cols] = scaler.fit_transform(df_encoded[numerical_cols])